.gradient__bg {
    width: 100vw;
    margin-top: calc(100vh / -2);
    border: 1px solid rgb(82, 82, 82);
  
    background:-moz-radial-gradient(circle at 3% 25%, rgb(4, 65, 131) 5%, rgb(12, 53, 97) 25%, rgb(9, 40, 73) 50%, rgb(5, 29, 54) 75%, rgba(4, 12, 24, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(4, 65, 131, 1) 5%, rgb(12, 53, 97) 25%, rgb(9, 40, 73) 50%, rgb(5, 29, 54) 75%, rgba(4, 12, 24, 1) 100%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(4, 65, 131, 1) 5%, rgb(12, 53, 97) 25%, rgb(9, 40, 73) 50%, rgb(5, 29, 54) 75%, rgba(4, 12, 24, 1) 100%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(4, 65, 131, 1) 5%, rgb(12, 53, 97) 25%, rgb(9, 40, 73) 50%, rgb(5, 29, 54) 75%, rgba(4, 12, 24, 1) 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(4, 65, 131, 1) 5%, rgb(12, 53, 97) 25%, rgb(9, 40, 73) 50%, rgb(5, 29, 54) 75%, rgba(4, 12, 24, 1) 100%);
  }

.chaintech__header {
    display: flex;
    position: relative;
    flex-direction: row;
  }

.chaintech__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -1.7rem;
    margin-right: 5rem;
}

.chaintech__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.chaintech__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.chaintech__header-content__logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
    margin-left: 1rem;
}

.chaintech__header-content__logo img {
    width: 128px;
    height: 96px;
}

@media screen and (max-width: 1050px) {
    .chaintech__header {
        flex-direction: column;
    }

    .chaintech__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .chaintech__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .chaintech__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .chaintech__header-content__logo {
        flex-direction: column;
    }

    .chaintech__header-content__logo p {
        margin: 0;
    }
}

@media screen and (max-width: 490px) {
    .chaintech__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .chaintech__header-content p {
        font-size: 14px;
        line-height: 24px;
    }
}